@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@keyframes shake {
    0% { transform: translateX(0%); }
    25% { transform: translateX(3%); }
    50% { transform: translateX(-3%); }
    75% { transform: translateX(3%); }
    100% { transform: translateX(0%); }
}

.shake {
    animation: shake 250ms ease-in-out;
}